---
http_interactions:
- request:
    method: get
    uri: https://johnny-appleseed.clientsecure.me/client-portal-api/cpt-codes?filter%5BclinicianId%5D=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Version:
      - '2019-01-17'
      Application-Build-Version:
      - 0.0.0
      Application-Platform:
      - web
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json
      Status:
      - 200 OK
      Etag:
      - W/"89b4c7d422dbc7177067233f29abee48"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"3866","type":"cptCodes","links":{"self":"https://johnny-appleseed.clientsecure.me/client-portal-api/cpt-codes/3866"},"attributes":{"description":"Psychiatric
        Diagnostic Evaluation","duration":50,"rate":"100.0","callToBook":"false","requireCreditCardForNewClients":"unset"}},{"id":"31822614","type":"cptCodes","links":{"self":"https://johnny-appleseed.clientsecure.me/client-portal-api/cpt-codes/31822614"},"attributes":{"description":"Intro
        Call","duration":15,"rate":"0.0","callToBook":"false","requireCreditCardForNewClients":"unset"}}],"links":{"first":"https://johnny-appleseed.clientsecure.me/client-portal-api/cpt-codes?page%5Bnumber%5D=1&page%5Bsize%5D=10","last":"https://johnny-appleseed.clientsecure.me/client-portal-api/cpt-codes?page%5Bnumber%5D=1&page%5Bsize%5D=10"}}'
  recorded_at: Mon, 14 Nov 2022 20:55:22 GMT
recorded_with: VCR 6.1.0
