---
http_interactions:
- request:
    method: get
    uri: https://johnny-appleseed.clientsecure.me/client-portal-api/offices?filter%5BclinicianId%5D=2&filter%5BcptCodeId%5D=3866
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Version:
      - '2019-01-17'
      Application-Build-Version:
      - 0.0.0
      Application-Platform:
      - web
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json
      Status:
      - 200 OK
      Etag:
      - W/"14563e38a8c44ff0bd13e94803fad74d"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"8377723","type":"offices","links":{"self":"https://johnny-appleseed.clientsecure.me/client-portal-api/offices/8377723"},"attributes":{"name":"Video
        Office","phone":"(626) 298-1956","isVideo":true,"geolocation":{"lat":"0.0","lng":"0.0"},"isPublic":false}}],"links":{"first":"https://johnny-appleseed.clientsecure.me/client-portal-api/offices?filter%5BcptCodeId%5D=3866&page%5Bnumber%5D=1&page%5Bsize%5D=10","last":"https://johnny-appleseed.clientsecure.me/client-portal-api/offices?filter%5BcptCodeId%5D=3866&page%5Bnumber%5D=1&page%5Bsize%5D=10"}}'
  recorded_at: Mon, 14 Nov 2022 20:58:01 GMT
recorded_with: VCR 6.1.0
